# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
out/
dist/
dist-electron/

# Electron
resources/icon.png

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Local env files
.env.local
.env.*.local

# Testing
coverage/

# Misc
.lock-wscript
.node_repl_history
